*{
    margin: 0;
    padding: 0;
    display: inline-block;
}

@media only screen and (min-width: 1920px) {
    #portfolio{
        background-size: cover;
    }
}

@media only screen and (max-width: 767px) {
    #aboutme img{
        max-width: 98%;
    }
    .slides{
        max-height: 300px;
        width: 90%;
    }
    #description{
        max-width: 90%;
    }
    #about{
        max-width: 90%;
    }
    .desc{
        max-width: 95%;
    }
    .link-nav{
        min-width: 100%;
        left: 0;
    }
    .title-nav p{
        display: none;
    }
    .title-nav h6{
        display: none;
    }
    #background p{
        display: inline !important;
    }
    #background h6{
        display: inline !important;
    }
}

#fadein{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    max-width: 100%;
    animation: fadeOut 2s;
}

@keyframes fadeOut{
    0%{
        background:black;
        min-height: 1256px;
        width: 100vw;
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

@keyframes fadeIn{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
    }
    100%{
        left: 3.5em;
        opacity: 1;
    }
}

@keyframes fadeInSubtitle {
    0% {
        opacity: 0;
    }
    100%{
        position: relative;
        left: -4em;
        opacity: 1;
    }
}

#topbar{
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    opacity: 0;
    width: 100%;
    min-height: 5.5rem;
    animation: fadeIn 4s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
    font-family: sans-serif;
    font-weight: 700;
    transition: min-height 0.5s;
    background: url('./images/grey.png');
}

.title-nav {
    position: absolute;
    font-size: 3em;
    color: aliceblue;
    transition: top 1s;
}

.title-nav h6{
    position: relative;
    left: -6em;
    opacity: 1;
    animation: fadeInRight;
    animation-duration: 4s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

.title-nav p{
    position: relative;
    top: 1.2em;
    left: -20em;
    opacity: 0;
    font-size: 0.4em;
    animation-name: fadeInSubtitle;
    animation-duration: 4s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
    font-weight: 100;
}

.link-nav{ 
    opacity: 0;
    position: absolute;
    width: 20em;
    right: 10%;
    transition: top 0.5s;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    animation: fadeIn 6s;
    animation-delay: 5s;
    animation-fill-mode: forwards;
}

a{
    text-decoration: none;
    color: antiquewhite;
    font-weight: 200;
}

a:hover{
    color:cyan;
    border-radius: 1px;
    border-color: azure;
}

#background{
    position: absolute;
    top: 0;
    left: 0;
    width: 98%;
    height: 400px;
    transform: scale(1.04);
    background: url('./images/Circuit.png');
    background-size: cover;
    background-attachment: fixed;
    font-family: sans-serif;
    font-weight: 700;
    color: azure;
}

#background h6{
    position: absolute;
    top: 140px;
    width: 100%;
    font-size: 3em;
    text-align: center;
    text-decoration: underline;
    text-underline-position: under;
    display: none;
}

#background p{
    position: absolute;
    top: 200px !important;
    width: 100%;
    font-size: 2em;
    text-align: center;
    display: none;
}

#portfolio{
    position: absolute;
    top: 400px;
    left: 0;
    background-image: url('images/Keyboard.jpg');
    height: 860px;
    width: 100%;
    color: azure;
}
#portfolio h1{
    position: relative;
    top: 50px;
    width: 100%;
    height: 1em;
    font-size: 3.3em;
    text-align: center;
    text-decoration: underline;
    text-underline-position: under;
}

article{
    position: relative;
    top: 130px;
    display: flex;
    flex-direction: column;
}

.slides{
    height: 400px;
}

article button{
    width: 30px;
    background-image: linear-gradient(to bottom, #eb94d0, black);
    border: 1px solid black;
}

article button:hover{
    background-image: linear-gradient(to top, #eb94d0, black);
    border: 1px solid whitesmoke;
}

article p{
    transition: max-height 1s;
    width: 640px;
    margin: auto;
    overflow: hidden;
    background: url("./images/grey.png");
    padding-left: 10px;
    border-radius: 3%;
    opacity: 0.9;
}

.carosel{
    display: flex;
    justify-content: center;
}

#reappear{
    position: fixed;
    right: 2px;
    top: 2px;
    width: 15px;
    background: grey;
    visibility: hidden;
    z-index: 1;
}

#disappear{
    position: absolute;
    right: 2px;
    top: 2px;
    width: 15px;
    background: transparent;
}

#aboutme{
    position: absolute;
    left: 0;
    top: 1205px;
    width: 98%;
    height: 900px;
    background-image: url('images/Red.jpg');
    background-position: center;
    background-attachment: fixed;
    transform: scale(1.04);
    color: azure;
}

#aboutme h1{
    position: relative;
    top: 50px;
    width: 100%;
    height: 1em;
    font-size: 3em;
    text-align: center;
    text-decoration: underline;
    text-underline-position: under;
}

#aboutme img{
    max-height: 600px;
    margin: auto;
    border-radius: 1%;
    box-shadow: 5px 5px 5px black;
}

#about{
    width: 400px;
    font-size: 1.5rem;
    margin: auto;
    background-image: linear-gradient(to bottom, #990c0c, black);
    color: black;
}

#about:hover{
    background-image: linear-gradient(to top, #990c0c, black);
}

#description{
    width: 660px;
    margin: auto;
    font-size: 2em;
    font-weight: 50;
}

.modal {
    position: fixed;
    z-index: 1;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
}

#myModal p{
    padding: 20px;
    border: 1px solid #888;
    border-radius: 0%;
}

#contact{
    display: flex;
    justify-content: space-between;
    width: 250px;
    height: 100px;
}

footer{
    position: absolute;
    left: 0;
    top: 2105px;
    width: 100%;
    height: 300px;
    background: url('./images/Title.jpg');
    color: azure;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

footer h1{
    position: relative;
    top: 10px;
    width: 100%;
    height: 1em;
    font-size: 2.6em;
    text-align: center;
    text-decoration: underline;
    text-underline-position: under;
}

footer img{
    height: 100px;
}

footer img:hover{
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

footer a{
    margin-bottom: 20px;
}