*{
    margin: 0;
    padding: 0;
    display: inline-block;
}

body{
    background: url('./images/mountain.jpg');
    background-attachment: fixed;
}

@media only screen and (min-width: 1366px) {
    body {
        background-size: 100% auto;
    }
    #portfolio{
        background-size: 100% auto;
    }
    #aboutme{
        background-size: 100% auto;
    }
    #contact{
        background-size: 100% auto;
    }
}

/*
@media only screen and (max-width: 640px) {
    .title-nav h6{
        width: 100%;
        text-align: center;
    }
    .title-nav p{
        opacity: 0;
    }
    .link-nav{
        justify-content: space-around;
    }
}
*/
#background{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    max-width: 100%;
    animation: fadeOut 2s;
}

@keyframes fadeOut{
    0%{
        background: white;
        min-height: 1256px;
        width: 100vw;
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

@keyframes fadeIn{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
    }
    100%{
        left: 3.5em;
        opacity: 1;
    }
}

@keyframes fadeInSubtitle {
    0% {
        opacity: 0;
    }
    100%{
        position: relative;
        left: -4em;
        opacity: 1;
    }
}

#topbar{
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    opacity: 0;
    width: 100%;
    min-height: 5.5rem;
    animation: fadeIn 4s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
    font-family: sans-serif;
    font-weight: 700;
    transition: min-height 0.5s;
    background: url('./images/grey.png');
}

.title-nav {
    position: absolute;
    font-size: 3em;
    color: aliceblue;
    transition: top 1s;
}

.title-nav h6{
    position: relative;
    left: -6em;
    opacity: 1;
    animation: fadeInRight;
    animation-duration: 4s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

.title-nav p{
    position: relative;
    top: 1.2em;
    left: -20em;
    opacity: 0;
    font-size: 0.4em;
    animation-name: fadeInSubtitle;
    animation-duration: 4s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
    font-weight: 100;
}

.link-nav{ 
    opacity: 0;
    position: absolute;
    width: 15em;
    right: 10%;
    top: 2.5rem;
    transition: top 0.5s;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    animation: fadeIn 6s;
    animation-delay: 5s;
    animation-fill-mode: forwards;
}

a{
    text-decoration: none;
    color: antiquewhite;
    font-weight: 200;
}

a:hover{
    color:cyan;
    border: 1px solid;
    border-radius: 1px;
    border-color: azure;
}

#portfolio{
    position: absolute;
    top: 400px;
    left: 0;
    background-image: url('images/night.png');
    height: 860px;
    width: 100%;
    color: azure;
}
#portfolio h1{
    position: relative;
    top: 110px;
    width: 100%;
    height: 1em;
    font-size: 3.3em;
    text-align: center;
    text-decoration: underline;
    text-underline-position: under;
}

article{
    position: relative;
    top: 150px;
    display: flex;
    flex-direction: column;
}

article img{
    height: 400px;
    width: 600px;
}

article button{
    width: 30px;
    background-image: linear-gradient(to bottom, #eb94d0, #2079b0);
    border: 1px solid black;
}

article button:hover{
    background-image: linear-gradient(to top, #eb94d0, #2079b0);
    border: 1px solid whitesmoke;
}

article p{
    position: relative;
    top: 20px;
    max-width: 25%;
    margin: auto;
}

.carosel{
    display: flex;
    justify-content: center;
}

#aboutme{
    position: absolute;
    left: 0;
    top: 1205px;
    width: 100%;
    height: 900px;
    background-image: url('images/starrynight.png');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: azure;
}

#aboutme h1{
    position: relative;
    top: 110px;
    width: 100%;
    height: 1em;
    font-size: 3em;
    text-align: center;
    text-decoration: underline;
    text-underline-position: under;
}

#aboutme img{
    max-height: 600px;
    max-width: 400px;
}

footer{
    position: absolute;
    left: 0;
    top: 2105px;
    width: 100%;
    height: 300px;
    background: url('./images/mountainbottom.jpg');
    color: azure;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

footer h1{
    position: relative;
    top: 10px;
    width: 100%;
    height: 1em;
    font-size: 2.6em;
    text-align: center;
    text-decoration: underline;
    text-underline-position: under;
}

footer a{
    font-size: 2.5em;
}